/* Overall container for Activity Track */
.activity-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 100px;
    
    background-color: #2d2c2c85; /* Dark background */
    color: #fff; /* White text color for contrast */
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-right: auto;
    max-width: 1000px;
    margin-left: 700px;
    height: 75vh; /* Adjust height to fill screen vertically */
    justify-content: space-between; /* Distribute space */

    padding: 40px; /* Adjusted padding for proportionality */
    margin-left: 700px; /* Keep the current position */
    background-color: #2d2c2c85; /* Dark background */
    color: #fff; /* White text color for contrast */
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.3);
    max-width: 80%; /* Adjust the max-width to make it wider while staying in proportion */
    height: auto;
    justify-content: space-between;
    /* Remove margin-right if you are pushing the container from the sidebar */
    margin-right: 0; /* Or adjust it if you want to keep some space on the right as well */

}

/* Form styling for Activity */
.activity-form {
    display: flex;
    flex-direction: column; /* Updated to column layout */
    gap: 20px; /* Increased spacing between input fields */
    margin-top: 30px; /* Moved form to the bottom */
}

.activity-form input, .activity-form select {
    padding: 10px 25px;
    border: 3px solid #1e1d1d;
    border-radius: 15px;
    background-color: #424242; /* Darker input background */
    color: #fff; /* White input text for contrast */
}

.activity-form button {
    padding: 15px 25px;
    background-color: #0e2853; /* Medical red color */
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px; /* Add spacing at the top of the button */
}

.activity-form button:hover {
    background-color: #201f1f;
}

.activity-input {
    padding: 10px 25px;
    border: 3px solid #1e1d1d;
    border-radius: 15px;
    background-color: #424242; /* Darker input background */
    color: #fff; /* White input text for contrast */
    width: 50%; /* Adjust the width as needed */
    margin-bottom: 10px; /* Add spacing at the bottom of the input */
}

/* Styling for spacing between pie chart and input form */
.activity-spacing {
    margin-top: 20px; /* Add spacing between pie chart and input form */
}
