/* Overall container for Activity Track */
.activity-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    
    background-color: #2d2c2c85; /* Dark background */
    color: #fff; /* White text color for contrast */
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-right: auto;
    max-width: 1000px;
    margin-left: 700px;
    height: 75vh; /* Adjust height to fill screen vertically */
    justify-content: space-between; /* Distribute space */
}

/* Form styling for Activity */
.activity-form {
    display: flex;
    gap: 10px;
    margin-top: 15px; /* Moved form to the bottom */
}

.activity-form input, .activity-form select {
    padding: 10px 25px;
    border: 3px solid #1e1d1d;
    border-radius: 15px;
    width: 150px; /* Increased width of input */
    background-color: #424242; /* Darker input background */
    color: #fff; /* White input text for contrast */
}

.activity-form button {
    padding: 15px 25px;
    background-color: #0e2853; /* Medical red color */
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.activity-form button:hover {
    background-color: #201f1f;
}

/* Activity items */
.activity-item {
    background-color: #191818c3; /* Slightly different background */
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    text-align: center; /* Center-align the text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6), /* Outer shadow for depth */
                0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Inner shadow for more emphasis */
}

.activity-item h3 {
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font to headings */
    font-size: 1.2rem;
}

.activity-item p {
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font to paragraphs */
    font-size: 1rem;
}
