.nav-menu-header {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  border-bottom: 5px solid #d00000; 
  width: 285px;
  border-radius: 1px;
}

.sidebar-logo {
  width: 60px; /* Adjust as needed */
  height: auto;
  margin-right: 5px; /* Space between logo and title */
  border-radius: 50px;
}


.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #0e0e17;
  width: 330px;
  height: 96vh;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px 0px 3px 1px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #878484;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #0a3592a0;
}

.nav-menu-items {
  width: 100%;
}



span {
  margin-left: 16px;
}