.reminder-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    padding: 30px; /* Uniform padding */
    background-color: #2d2c2c85;
    color: #fff;
    margin-left: 500px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    max-width: 800px; /* Further reduced width for a more compact layout */
    height: auto; /* Adjusted height */
}

.reminder-item {
    display: flex;
    align-items: center;
    background-color: #252424c3;
    padding: 1px 15px; /* Retain minimal vertical padding */
    border-radius: 15px;
    margin-top: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    width: 50%;
    gap: 10px;
    font-size: 10px; /* Maintain reduced font size */
    line-height: 2px; /* Reduced line height to decrease overall height */
}


.reminder-item input[type="checkbox"] {
    margin-right: 10px; /* Adjust if necessary */
    /* Optional: Scale down the checkbox if it's too large */
    transform: scale(0.8);
    margin-top: -2px; /* Adjust vertical alignment if needed */
}

.reminder-item label {
    text-align: left;
    flex-grow: 1;
}
.reminder-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
    padding-bottom: 1px;
    padding-top: 60px;
}

.reminder-form input, .reminder-form textarea {
    padding: 10px; /* Slightly reduced padding */
    border: 2px solid #1e1d1d;
    border-radius: 15px; /* Slightly reduced border-radius */
    background-color: #212121;
    color: #fff;
}

.reminder-form button {
    padding: 10px 15px; /* Adjusted padding */
    background-color: #0e2853;
    color: white;
    border: none;
    border-radius: 15px; /* Slightly reduced border-radius */
    cursor: pointer;
    transition: background-color 0.3s;
}

.reminder-form button:hover {
    background-color: #201f1f;
}
