/* Overall container */
.weight-log-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #2d2c2c85; /* Dark background */
    color: #fff; /* White text color for contrast */
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding-left: 20px;
    margin-right: auto;
    max-width: 1000px;
    margin-left: 400px;
    height: 75vh; /* Adjust height to fill screen vertically */
    justify-content: space-between; /* Distribute space */
}

/* Form styling */
.weight-log-form {
    display: flex;
    gap: 10px;
    margin-top: 15px; /* Moved form to the bottom */
}

.weight-log-form input {
    padding: 10px 25px;
    border: 3px solid #1e1d1d;
    border-radius: 15px;
    width: 150px; /* Increased width of input */
    background-color: #424242; /* Darker input background */
    color: #fff; /* White input text for contrast */
}

.weight-log-form button {
    padding: 15px 25px;
    background-color: #0e2853; /* Medical red color */
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.weight-log-form button:hover {
    background-color: #201f1f;
}

/* Chart area */
.weight-log-chart {
    width: 105%;
    flex-grow: 1; /* Chart takes up remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
}

.weight-log-chart canvas {
    width: 90% !important; /* Adjust width as needed */
    height: auto !important;
}

.clear-data-button {
    padding: 10px 20px;
    background-color: #8f0b04; /* Red color for clear button */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px; /* Spacing from the forms */
    margin-bottom: 15px;
    width: 200px;

    transition: background-color 0.3s;
}

.clear-data-button:hover {
    background-color: #201f1f; /* Darker shade on hover */
}

.bmi-display {
    background-color: #191818c3; /* Slightly different background */
    padding: 10px;
    border-radius: 15px;
    margin-top: 15px;
    text-align: center; /* Center-align the text */
    
    /* Adding a box shadow for depth */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6), /* Outer shadow for depth */
                0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Inner shadow for more emphasis */
}


.bmi-display p {
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font to paragraphs */
    font-size: 1.1rem;
}



