@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.weight-log-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px; /* Adjusted padding for more space */
    background-color: #15151585; /* Semi-transparent dark background */
    font-family: 'Montserrat', sans-serif; /* Stylish font */
    color: #fff; /* White text for contrast */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.3); /* Depth effect with shadow */
    margin: auto; /* Center the container horizontally */
    max-width: 100%; /* Limit width to prevent overflow */
    height: auto; /* Height adjusts automatically to content */
    justify-content: space-between; /* Space distribution between child elements */
}


.weight-log-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    /* You can also add other font-related properties here */
  }

/* Form styling */
.weight-log-form {
    display: flex;
    gap: 10px;
    margin-top: 15px; /* Moved form to the bottom */
}

.weight-log-form input {
    padding: 10px 15px;
    border: 3px solid #1e1d1d;
    border-radius: 15px;
    width: 150px; /* Increased width of input */
    background-color: #424242; /* Darker input background */
    color: #fff; /* White input text for contrast */
}

.weight-log-form button {
    padding: 15px 20px;
    background-color: #0e2853; 
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

.weight-log-form button:hover {
    background-color: #201f1f;
}

/* Chart area */
.weight-log-chart {
    width: 110%;
    flex-grow: 1; /* Chart takes up remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}

.weight-log-chart canvas {
    width: 80% !important; /* Adjust width as needed */
    height: auto !important;
}

.bmi-display {
    background-color: #191818c3; /* Slightly different background */
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    margin-top: 10px;
    text-align: center; /* Center-align the text */
    
    /* Adding a box shadow for depth */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6), /* Outer shadow for depth */
                0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Inner shadow for more emphasis */
}


.bmi-display p {
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font to paragraphs */
    font-size: 14px;
}



.delete-entry-button {
    padding: 15px 30px;
    background-color:#272626; /* Bootstrap's btn-danger color */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: #201f1f;
    margin: 10px;
    margin-left: 20px;
    transition: background-color 0.3s;
    font-size: 14px;
}

.delete-entry-button:hover {
    background-color: #950d08; /* Darker shade on hover */
}
