@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.weight-log-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally within the container */
    padding: 20px; /* Padding inside the container */
    margin-left: 400px; /* Increase this value as needed to move away from the sidebar */
    background-color: #15151585; /* Semi-transparent dark background */
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.3);
    max-width: 100%; /* You might want to adjust this if the container is still too wide */
    height: auto;
    justify-content: space-between;
    /* Remove margin-right if you are pushing the container from the sidebar */
    margin-right: 0; /* Or adjust it if you want to keep some space on the right as well */
}

.weight-log-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding-right: 5px;
    /* You can also add other font-related properties here */
  }

/* Form styling */
.weight-log-form {
    display: flex;
    flex-direction: column; /* Stack inputs vertically */
    align-items: center; /* Center-align the form */
    gap: 10px;
    width: 50%; /* Full width to align with the chart */
    margin-top: -30px; /* Space after the chart */
}

.weight-log-form input {
    padding: 10px 15px;
    border: 3px solid #1e1d1d;
    border-radius: 15px;
    width: 150px; /* Increased width of input */
    background-color: #424242; /* Darker input background */
    color: #fff; /* White input text for contrast */
}

.weight-log-form button {
    padding: 15px 20px;
    background-color: #0e2853; 
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
    width: 80%;
}

.weight-log-form button:hover {
    background-color: #201f1f;
}


.weight-log-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    width: 120%; /* Use 100% of the container's width */
    margin-right: 10px; /* Reset any specific margins */
}

.weight-log-chart canvas {
    max-width: 1000px; /* Ensure the canvas does not overflow its container */
    height: auto !important;
}
.bmi-display {
    background-color: #191818c3; /* Slightly different background */
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    margin-top: 10px;
    width: 40%; /* Match the width of the chart and form elements */
    margin: 10px auto;
    text-align: center; /* Center-align the text */
    
    /* Adding a box shadow for depth */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6), /* Outer shadow for depth */
                0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Inner shadow for more emphasis */
}


.bmi-display p {
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font to paragraphs */
    font-size: 14px;
}



.delete-entry-button {
    padding: 15px 30px;
    background-color:#272626; /* Bootstrap's btn-danger color */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: #201f1f;
    margin: 10px;
    margin-left: 20px;
    transition: background-color 0.3s;
    font-size: 14px;
}

.delete-entry-button:hover {
    background-color: #950d08; /* Darker shade on hover */
}

/* Add this CSS code to your project */
.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px; /* Adjust the margin-top as needed */
  }
  
  .progress-bar {
    width: 100%;
    background-color: #ddd; /* Background color of the progress bar container */
    border-radius: 10px;
    overflow: hidden; /* Hide overflowing content */
  }
  

  
  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer; /* Indicates hoverable area */
  }
  
  .tooltip .tooltipText {
    visibility: hidden;
    width: 200px;
    background-color: rgb(42, 41, 41);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px 40px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 280%;
    margin-bottom: 420px;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
  }