.chart-container {
    /* Other existing styles */
    padding: 30px;
    height: auto;
    min-height: 100px; /* Adjust based on requirement */
    overflow: auto;
    max-width: 100%;
    margin-top: 15px; /* Adds margin at the top */
    margin-bottom: 20px; /* Adds margin at the bottom */
    padding-bottom: 20px;
  }
  
  
  .search-container {
    display: flex; /* Use flexbox for alignment */
    justify-content: flex-start; /* Align content to the left */
    padding: 10px 350px; /* Adjust padding as needed */
    position: fixed; /* Keeps the search bar fixed at the top */
    top: 20px; /* At the very top */
    z-index: 100; /* To ensure it stays on top of other content */
    width: 100%; /* Ensure it spans the full width */
}

  
  .search-container input[type="text"] {
    width: 250px; /* Adjust width as needed */
    padding: 8px; /* Example: Light grey border */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(40, 39, 39, 0.647); /* Soft shadow for depth */
    font-size: 16px; /* Adjust as needed */
  }
  