/* Apply overflow hidden to the body or a main container to disable scrolling */
body {
    overflow: hidden;
  }
  
  .main-content-holder {
    padding-top: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  
  .search-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px 350px;
    position: fixed;
    top: 20px;
    z-index: 100;
    width: 100%;
  }
  
  .search-container input[type="text"] {
    width: 250px;
    padding: 8px;
    border-radius: 15px;
    font-size: 16px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    outline: none;
    border: 2px solid transparent;
  }
  
  .search-container input[type="text"]:hover,
  .search-container input[type="text"]:focus {
    box-shadow: 0 4px 8px rgb(135, 6, 6);
    transform: scale(1.05);
  }
  