/* src/components/MoodTracker.css */

:root {
    --background-color: #2d2c2c85;
    --text-color: #fff;
    --form-background-color: #424242;
    --button-color: #0e2853;
    --button-hover-color: #201f1f;
    --border-radius: 15px;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Overall container */
  .mood-tracker-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      background-color: var(--background-color);
      color: var(--text-color);
      border-radius: 20px;
      box-shadow: var(--box-shadow);
      max-width: 200px; /* Adjust as per design */
      margin: 0 auto; /* Centering the container */
      height: 75vh; /* Adjust height to fill screen vertically */
      justify-content: space-around; /* Distribute space evenly */
  }
  
  /* Form styling */
  .mood-entry-form {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
  }
  
  .mood-entry-form select,
  .mood-entry-form input {
      padding: 10px;
      border: 2px solid #1e1d1d;
      border-radius: var(--border-radius);
      width: 100px; /* Adjust as needed */
      background-color: var(--form-background-color);
      color: var(--text-color);
  }
  
  .mood-entry-form button {
      padding: 10px 20px;
      background-color: var(--button-color);
      color: var(--text-color);
      border: none;
      border-radius: var(--border-radius);
      cursor: pointer;
      transition: background-color 0.3s;
  }
  
  .mood-entry-form button:hover {
      background-color: var(--button-hover-color);
  }
  
  /* Chart area */
  .mood-graph-container {
      width: 1000px; /* Adjust the width of the chart area */
      padding: 100px;
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);
      background-color: var(--background-color);
      margin-left: 380px;
  }
  
  .mood-graph-container canvas {
      width: 100% !important; /* Make the graph a little smaller */
      height: auto !important;
  }
  