

.calorie-counter {
    text-align: center;
  }
  
  input {
    padding: 8px;
    margin: 10px;
  }
  
  .progress-bar {
    background-color: #e0e0e0;
    height: 20px;
    margin-top: 10px;
    width: 0; /* Initial width is set to 0, and it will be dynamically adjusted using JavaScript */
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  

