@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.food-log-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1000px;
  background-color: #15151585; /* Semi-transparent dark background */
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.3);
  margin: auto;
  max-width: 600px; /* Adjust the width as needed */
  width: 100%;
  right: 200px;
  height: auto;
}

.food-log-container h1 {
  font-size: 35px;
  margin-bottom: 20px;
}

/* Form Styling */
.food-log-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  margin-top: 15px;
}

.food-log-form label {
  color: #fff;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.food-log-form input {
  padding: 10px 15px;
  border: 2px solid #1e1d1d;
  border-radius: 10px;
  background-color: #424242;
  color: #fff;
  margin-top: 5px;
}

.food-log-form button {
  padding: 10px 20px;
  background-color: #0e2853;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center; /* Center the button */
}

.food-log-form button:hover {
  background-color: #201f1f;
}

/* Responsive Design */
@media (max-width: 768px) {
  .food-log-container {
    padding: 20px;
    max-width: 100%;
  }
}
