* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #030721;
}

.hero-section {
  text-align: center;
  padding: 2rem;
  background-color: #000000; /* Dark background for the hero section */
  border-radius: 30px;
  display: flex; /* Use Flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.hero-content {
  display: flex;
  justify-content: space-between; /* Space between the images */
  background-color: #000; /* Black background for depth */
  padding: 4rem; /* Adjust padding as needed */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow for depth */
  align-self: center; /* Align to the center vertically */
  margin-left: 10%; /* Adjust to move container to the right */
  margin-right: 10%; /* Keep it balanced */
  max-width: 80%; /* Maximum width */
}

.logo-container, .dashboard-container {
  flex: 1; /* Equal flex-grow for both containers */
  display: flex;
  justify-content: center; /* Center images within each container */
  align-items: center;
  padding: 50px; /* Padding for internal spacing */
}

.hero-logo, .dashboard-img {
  max-width: 100%; /* Adjust the maximum width */
  max-height: 200px; /* Adjust the maximum height */
  height: auto;
  border-radius: 15px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-section {
      height: auto;
  }
  .hero-content {
      flex-direction: column; /* Stack images on smaller screens */
      margin-left: 5%; /* Adjust margin for smaller screens */
      margin-right: 5%; /* Adjust margin for smaller screens */
      padding: 1rem; /* Adjust padding for smaller screens */
  }
  .logo-container, .dashboard-container {
      padding: 0.5rem; /* Adjust padding on smaller screens */
  }
  .hero-logo, .dashboard-img {
      max-width: 80%; /* Adjust width on smaller screens */
      max-height: 200px; /* Adjust height on smaller screens */
  }
}

/* Styles for .get-started-btn */
.get-started-btn {
  background-color: #8B0000; /* Blood red background */
  color: black; /* Black text */
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 15px; /* Slight rounding of corners */
  font-size: 15px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.get-started-btn:hover {
  background-color: #243dac; /* Slightly lighter red for hover effect */
  color: white; /* White text on hover */
}
